<h2 id="title">Welcome to ember-code-snippet</h2>

<h3>Static snippet</h3>

<!-- BEGIN-SNIPPET static -->
    <p>I am a <strong>handlebars</strong> template!</p>
    <p>The value is: {{val}}</p>
    <div>
      {{input value=val}}
    </div>
<!-- END-SNIPPET -->

<h4>Plain:</h4>

{{code-snippet name="static.hbs"}}

<h4>Prism.js</h4>

{{#code-block language="handlebars"}}{{code-snippet name="dynamic.hbs"}}{{/code-block}}

<h3>Dynamic snippet</h3>

<div>
  <label for="type">Type:</label>
  {{input id="type" value=type}}
</div>

<!-- BEGIN-SNIPPET dynamic -->
<p>I am a <strong>handlebars</strong> template!</p>
<p>The value is: {{val}}</p>
<div>
  {{input value=val type=type}}
</div>
<!-- END-SNIPPET -->

{{#code-block language="handlebars"}}
  {{#let (get-code-snippet "dynamic.hbs") as |snippet|}}
<pre class={{snippet.language}}>
{{unindent-code-snippet snippet.source}}
</pre>
  {{/let}}
{{/code-block}}