<h2 id="title">Welcome to ember-code-snippet</h2>

<h3>Static snippet</h3>

<!-- BEGIN-SNIPPET static -->
    <p>I am a <strong>handlebars</strong> template!</p>
    <p>The value is: {{val}}</p>
    <div>
      {{input value=val}}
    </div>
<!-- END-SNIPPET -->

<h4>Plain:</h4>

{{code-snippet name="static.hbs"}}

<h4>Prism.js</h4>

{{#code-block language="handlebars"}}{{code-snippet name="dynamic.hbs"}}{{/code-block}}

<h3>Dynamic snippet</h3>

<div>
  <label for="type">Input type:</label>
  {{input id="type" value=inputType}}
</div>

<hr>

<!-- BEGIN-SNIPPET dynamic -->
<p>I am a <strong>handlebars</strong> template!</p>
<p>The value is: {{val}}</p>
<div>
  {{input value=val type=inputType}}
</div>
<!-- END-SNIPPET -->

{{#let (get-code-snippet "dynamic.hbs") as |snippet|}}
<pre class={{snippet.language}}>
{{dynamic-code-snippet snippet.source
  language=snippet.language
  dynamic=(hash
    inputType=inputType
  )
}}
</pre>
{{/let}}
